{% extends 'trackingtalibe/base.html' %}

{% block title %}À propos{% endblock %}

{% block content %}
<div style="color: black;">
<p>MapTalibé est une plateforme innovante de géolocalisation conçue pour protéger les 
enfants talibés et renforcer le lien entre les Serigne Daara (maîtres coraniques), les 
parents, et les Ndèye Daara (marraines). Notre mission est claire : mettre la 
technologie au service du bien-être et de la sécurité des enfants confiés à 
l’enseignement coranique.
Chaque jour, des milliers de talibés arpentent les rues, parfois loin de leurs daaras, 
exposés à des risques variés : perte, enlèvement, accidents ou mauvaises rencontres. 
Face à ces réalités, nous avons imaginé une solution simple, accessible et efficace : un 
système de géolocalisation en temps réel permettant de suivre les déplacements des 
enfants et de détecter rapidement toute situation anormale.</p>
<h4>Une solution née d’un besoin réel:</h4>
<p>MapTalibé a vu le jour à partir d’un constat : malgré leur rôle central dans la société, 
les enfants talibés manquent souvent de suivi personnalisé et de protection concrète. 
De nombreux Serigne Daara et familles expriment leur volonté de mieux encadrer 
les enfants, mais manquent d’outils adaptés.
Notre plateforme répond à ce besoin par l’utilisation de dispositifs GPS intégrés à la 
technologie ESP32, connectés à une interface web. Ce système permet un 
suivi continu, des alertes intelligentes et un historique des trajets consultable à tout 
moment.</p>
<h4>Ce que nous défendons:</h4>
<p>
Chez MapTalibé, nous croyons qu’il est possible d’allier tradition et innovation, 
d’honorer les valeurs religieuses tout en assurant la sécurité des enfants. Notre objectif est de 
travailler main dans la main avec les acteurs éducatifs, les familles et les 
associations pour proposer une approche bienveillante, responsable et moderne.</p>
<h4>Nos engagements:</h4>
<p>• Protéger les enfants talibés contre les risques du quotidien</p>
<p>• Soutenir les Serigne Daara dans leur mission éducative</p>
<p >• Rassurer les familles en leur offrant plus de transparence et de proximité</p>
<p>• Faciliter l’action sociale des Ndèye Daara et des partenaires communautaires</p>
<p>MapTalibé, c’est bien plus qu’un outil technologique : c’est un acte de solidarité, de 
modernité et d’amour envers les enfants qui forment l’avenir de notre société.</p>
</div>
{% endblock %}
